@font-face {
  font-display: swap;
  font-family: IranYekan;
  font-style: normal;
  font-weight: 100;
  src: url('../../public/fonts/iranYekan/IRANYekanThinFaNum.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: IranYekan;
  font-style: normal;
  font-weight: 200;
  src: url('../../public/fonts/iranYekan/IRANYekanLightFaNum.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: IranYekan;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/iranYekan/IRANYekanRegularFaNum.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: IranYekan;
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/iranYekan/IRANYekanMediumFaNum.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: IranYekan;
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/iranYekan/IRANYekanBoldFaNum.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: IranYekan;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/iranYekan/IRANYekanExtraBoldFaNum.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: IranYekan;
  font-style: normal;
  font-weight: 800;
  src: url('../../public/fonts/iranYekan/IRANYekanBlackFaNum.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: IranYekan;
  font-style: normal;
  font-weight: 900;
  src: url('../../public/fonts/iranYekan/IRANYekanExtraBlackFaNum.ttf')
    format('truetype');
}

html {
  /* handle rem to 10px */
  font-size: 62.5%;
  height: 100%;
  direction: rtl;
  font-family: 'IranYekan';
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
}

.disabled {
  cursor: not-allowed;
  filter: grayscale(1);
}

/* leaflet marker */
.pin {
  width: 100px;
  height: 100px;
  background-color: #4c64cf;
  border-radius: 60px 60px 0px 60px;
  position: relative;
  transform: rotate(45deg);
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}
